<footer class="mt-2 bg-dark pb-1 pt-3 text-center text-light">
    <p>&copy; 2023 Copyright : <a href="{{path('HomePage')}}">Amici</a> / <a href="{{path('MentionLegale')}}">Mention Légale</a></p>
</footer>