{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container text-white">
<h1>Formulaire de contact</h1>
    {{form(contactForm)}}
</div>

{% endblock %}
